<div class="container">
  <%= simple_form_for [ @car, @booking ] do |f| %>
    <%= f.input :starting_date, as: :date %>
    <%= f.input :ending_date, as: :date %>
    <%#= f.association :car %>
    <%= f.submit "Submit a booking date", method: :update, class: "btn btn-gradient" %>
  <% end %>
</div>
