<p>teste booking show</p>

<ol>
<li class="list-group-item">
      <p><%= @booking.starting_date %> <%= @booking.ending_date %></p>
      <%= link_to "Remove",
                  booking_path(@booking),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
</ol>
