<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/user/erondu/c-NEiPIxpYI);">
  <div class="container">
    <h1>a new experience <strong>on car rental</strong></h1>
    <%#  <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <a class="btn btn-primary" href="/cars">Book now</a>
  </div>
</div>
