<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path 'mustang_home.jpg'%>);">
  <div class="container d-block">
    <h1 class='d-flex justify-content-center'>A new experience on car rental</h1>
    <br>
    <p class="d-flex justify-content-center"><%= link_to 'Book now', cars_path, class: 'btn btn-gradient' %></p>
  </div>
</div>
