<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/user/erondu/c-NEiPIxpYI);">
  <div class="container d-block">
    <h1 class="d-flex justify-content-center">a new experience<strong>on car rental</strong></h1>
    <p class="d-flex justify-content-center"><%= link_to 'Book now', cars_path, class: 'btn btn-gradient' %></p>
  </div>
</div>
