<p>teste car index</p>
<ul>
  <% @cars.each do |car| %>
    <li><%= link_to car.model, car_path(car) %></li>
  <% end %>
</ul>

<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/user/erondu/WBsl72esyVo" alt="Ferrari card">
    <div class="card-body">
      <h5 class="card-title">Ferrari 458 Italia</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/cars/3" class="btn btn-primary">Try a Ferrari</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/user/erondu/iBLOPHwOHJE" alt="Aventador">
    <div class="card-body">
      <h5 class="card-title">Aventador</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/cars/5" class="btn btn-primary">Try a Aventador</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/user/erondu/kGCvCx5qyjM" alt="GT500 Cobra">
    <div class="card-body">
      <h5 class="card-title">GT500 Cobra</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/cars/4" class="btn btn-primary">Try a GT500 Cobra</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/user/erondu/cQEz1B0LPFs" alt="911 GT3">
    <div class="card-body">
      <h5 class="card-title">Porsche 911 GT3</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/cars/6" class="btn btn-primary">Try a Porsche 911 GT3</a>
    </div>
  </div>
</div>
