<div><%= render 'shared/banner' %>
  <div class="d-block">
    <h1 class='d-flex justify-content-center'>a new experience on car rental</h1>
  </div>
  <br>
  <div class="d-block">
    <p class="d-flex"><%= link_to 'book now', cars_path, class: 'btn btn-gradient' %></p>
  </div>
</div>
<%= render 'shared/footer' %>
