.banner {
  background-size: cover;
  background-position: center;
  height: 525px;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
  background-repeat: no-repeat;
}

#car {
  background-size: cover;
  background-position: center;
  height: 650px;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9));
  background-repeat: no-repeat;
}

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: 1;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   justify-content: center;
// }
