.btn-gradient {
  color: white;
  padding: 4px 24px;
  margin: 0px;
  border-radius: 5px;
  font-weight: light;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #073670;
}

.btn-gradient:hover {
  background: linear-gradient(#2688ff, #1a6fdf);
  color: white;
}

.btn {
  box-shadow: 0 0 4px rgba(15, 22, 116, 0.7);
  margin: 0;
}
