.btn-gradient {
  color: white;
  padding: 6px 24px;
  margin: 5px;
  border-radius: 5px;
  font-weight: light;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
