.container {
  display: flex;
  // margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  flex-grow: 1;
  // justify-content: space-between;
  // align-items: stretch;
  // margin-bottom: 10px;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 220px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(224,222,222,0.7);
  border: solid rgb(102, 102, 102) 1px;
  // background-position-y: 0px;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // flex-grow: 1;
  // font-size: 17px;
  // color: white;
  // font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0, 0, 0,0.7);
}

.card-booking {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 0px;
  height: 700px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(224,222,222,0.7);
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0,0.7);
  border: solid rgb(102, 102, 102) 1px;
  position: absolute;
  // margin: 15px;
}

.card-booking-form {
  position: relative;
  top: 20px;
  padding: 10px;
}

.card-title {
  font-size: 20px;
  color: black;
  text-shadow: 0 0 0;
}
.card-text {
  font-size: 10px;
  color: black;
  text-shadow: 0 0 0;
  text-decoration: none;
}
.card:hover {
  color: rgba(226, 223, 223, 0.86);
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
