.container {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  flex-grow: 2;
  align-items: stretch;
  margin-bottom: 10px;
}

.card {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: auto;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-title {
  font-size: 20px;
  color: black;
  text-shadow: 0 0 0;
}
.card-text {
  font-size: 10px;
  color: black;
  text-shadow: 0 0 0;
  text-decoration: none;
}
.card:hover {
  color: rgba(226, 223, 223, 0.86);

}
