.footer {
  background:#161425;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(233, 227, 227, 0.3);
  margin-top: auto
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color:  white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.7;
}
.footer-copyright {
  font: 15px;
}
.footer .fa-car {
  color: #D23333;
 }
