#home {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  font-size: 32px;
  font-weight: bold;
  padding-top: 70px;
  position: absolute;
  top: 30%;
  text-align: center;
}

#home_secondary {
  margin-top: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  font-size: 24px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
  top: 15%;
}

#home-btn {
  position: absolute;
  top: 50%;
  text-align: center;
}

#cars {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  font-size: 32px;
  font-weight: bold;
}
