#home {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  font-size: 32px;
  font-weight: bold;
  padding-top: 205px;
}

#cars {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  font-size: 32px;
  font-weight: bold;
}
