<!-- Revisar links para os carros nos cards -->
<div class="container d-block">
  <h1 class="justify-content-center">Showroom</h1>
  <div class="cards">
    <a class="card" href='cars/8' style="background-image: url(https://source.unsplash.com/user/erondu/WBsl72esyVo)">Ferrari 458 Italia</a>

    <a class="card" href='cars/10' style="background-image: url(https://source.unsplash.com/user/erondu/iBLOPHwOHJE)">Aventador</a>

    <a class="card" href='cars/9' style="background-image: url(https://source.unsplash.com/user/erondu/kGCvCx5qyjM)">GT500 Cobra</a>

    <a class="card" href='cars/11' style="background-image: url(https://source.unsplash.com/user/erondu/cQEz1B0LPFs)">911 GT3</a>
  </div>

  <%= link_to 'Back to home', root_path, class: "btn btn-primary" %>
</div>
<br>
