<h1>Showroom</h1>

<div class="container">
  <div class="cards">
    <div class="card" style="background-image: url(https://source.unsplash.com/user/erondu/WBsl72esyVo)">458 Italia</div>

    <div class="card" style="background-image: url(https://source.unsplash.com/user/erondu/iBLOPHwOHJE)">Aventador</div>

    <div class="card" style="background-image: url(https://source.unsplash.com/user/erondu/kGCvCx5qyjM)">GT500 Cobra</div>

    <div class="card" style="background-image: url(https://source.unsplash.com/user/erondu/cQEz1B0LPFs)">911 GT3</div>
  </div>
</div>
