<br>
<div class="container">
  <div class="card-product">
    <img src=<%= @car.img_url %> />
    <div class="card-product-infos">
      <h2><%= @car.model %>, <%= @car.manufacturer %></h2>
      <p> Price/day: <strong>$ <%= @car.price %></strong> only.</p>
    </div>
  </div>
</div>
<br>
